---
layout: default
---


<!- <li>_layouts/cv.html -->

<style type="text/css">
 
  #home-content{
    text-align: justify;
    text-justify: inter-word;
  }
</style>

{% unless site.data.resume %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
          {% if entry.type == "list" %}
            {% include cv/list.html %}
          {% elsif entry.type == "map" %}
            {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include cv/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include cv/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
  </article>

</div>
{% else %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
  </header>
  <br>
  <div class="row justify-content-sm-center">
    <div class="col-sm-8 mt-3 mt-md-0">
      <figure>
        <picture>
          <a href="https://sites.google.com/a/ajou.ac.kr/tsshon/"><img src="/assets/img/prof_shon.jpeg" class="img-fluid rounded z-depth-1" width="auto" height="auto" title="example image"></a>
        </picture>
      </figure>
    </div>
  </div>
  <blockquote> <p>Professor <strong>Taeshik Shon</strong> has presented a number of papers at domestic and international conferences, and his research has won Excellence Papers Award at SCI-level International Journal and Conference. In addition, he is participating in research projects of the government and industry to derive practical research results.</p></blockquote>
  {% if page.description %}<p class="post-description" id="home-content">{{ page.description }}</p>{% endif %}
  <article>
    <h3><span class="font-weight-bold">Career</span></h3>
    <hr>
     <ul>
      <li>국가정보원 정보보안 실태 평가위원</li>
      <li>한국전력 정보보안 자문위원</li>
      <li>디지털 포렌식 표준화 포럼 자문위원</li> 
      <li>원전 사이버보안 워킹그룹 위원,CC인증위원회 위원</li>
      <li>스마트그리드 핵심 보안기술 자문위원</li>
      <li>한국정보보호학회 이사, 한국정보처리학회 이사, 한국디지털포렌식학회 이사</li>
      <li>Associate Editor (Seurity and Communication Networks, Wiley)</li>
      <li>Associate Editor (J.of Parallel, Emergent and Distributed Systems,Taylor and Francis)</li>
      <li>2005-2011 삼성전자 통신연구소/DMC연구소 책임연구원</li>
      <li>2004-2005  University of Minnesota Research Scholar</li>
      </ul>
  </article>
</div>
{% endunless %}