---
layout: default
---


<!-- _layouts/cv.html -->

<style type="text/css">
 
  #home-content{
    text-align: justify;
    text-justify: inter-word;
  }
</style>

{% unless site.data.resume %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
          {% if entry.type == "list" %}
            {% include cv/list.html %}
          {% elsif entry.type == "map" %}
            {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include cv/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include cv/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
  </article>

</div>
{% else %}
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
  </header>
  <br>
  <h3><span class="font-weight-bold">Integrated / Ph.D. Course Students</span></h3>
  <hr>
  <article>
    <div class="cv">
        <a class="anchor" id="basics"></a>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                      <img src="/assets/img/members/resized/YeongHunShin.jpg" class="img-fluid rounded z-depth-1">
                                    </picture>
                                </figure>
                                <table class="table-cv">
                                    <tbody><tr> <td> <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle">Lab Leader</span> </td> </tr> </tbody> </table>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Yeonghun Shin</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of AI Convergence Network, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">syh2347@ajou.ac.kr</h6>
                                    <ul class="items">
                                        <li>
                                        <span class="item">Research Interests</span>
                                        <ul>
                                            <li>Digital Forensics, Vehicle Security</li>
                                        </ul>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                      <img src="/assets/img/members/resized/ksb.jpg" class="img-fluid rounded z-depth-1">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Sungbum Kim</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of AI Convergence Network, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">zx1962@ajou.ac.kr</h6>
                                    <ul class="items">
                                        <li>
                                        <span class="item">Research Interests</span>
                                        <ul>
                                            <li>Digital Forensics, Internet of Things</li>
                                        </ul>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                      <img src="/assets/img/members/resized/minjukim.jpg" class="img-fluid rounded z-depth-1">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Minju Kim</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of AI Convergence Network, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">klklkl098@ajou.ac.kr</h6>
                                    <ul class="items">
                                        <li>
                                        <span class="item">Research Interests</span>
                                        <ul>
                                            <li>Digital Forensics, Internet of Things</li>
                                        </ul>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <h3><span class="font-weight-bold">Master Course</span></h3>
        <hr>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/members/resized/Yugeon.jpg" class="img-fluid rounded z-depth-1">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Geon Yu</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of AI Convergence Network, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">yougun131@ajou.ac.kr</h6>
                                    <ul class="items">
                                        <li>
                                        <span class="item">Research Interests</span>
                                        <ul>
                                            <li>Digital Forensics, Internet of Things</li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/members/resized/hansae.jpg" class="img-fluid rounded z-depth-1">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Hansae Mun</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of AI Convergence Network, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">jonahmun96@ajou.ac.kr</h6>
                                    <ul class="items">
                                        <li>
                                        <span class="item">Research Interests</span>
                                        <ul>
                                            <li>Digital Forensics</li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        <br>
        <br>
        <h3><span class="font-weight-bold">Visiting Scholar</span></h3>
        <hr>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/donghyunkim.jpeg" class="img-fluid rounded">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Donghyun Kim</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Security Engineer, Coupang</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">dokim10@coupang.com</h6>
                                    <ul class="items">
                                        <li>
                                        <span class="item">Research Interests</span>
                                        <ul>
                                            <li>Digital Forensics, Cloud Security</li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3 p-3">
                <div>
                    <ul class="card-text font-weight-light list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                    <figure>
                                        <picture>
                                          <img src="/assets/img/members/resized/seongmoon.png" class="img-fluid rounded z-depth-1">
                                        </picture>
                                    </figure>
                                </div>
                                <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                    <h6 class="title font-weight-bold ml-1 ml-md-4">
                                        <a href="https://example.com" rel="external nofollow noopener" target="_blank">Seongmoon Kwon</a></h6>
                                        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">前 한국인터넷진흥원 (KISA)</h6>
                                        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">calmcombat@gmail.com</h6>
                                        <ul class="items">
                                            <li>
                                            <span class="item">Research Interests</span>
                                            <ul>
                                                <li>Cyber Security, Industrial Control Systems</li>
                                            </ul>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        <br>
        <h3><span class="font-weight-bold">Intern</span></h3>
        <hr>
        <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/members/resized/jaemin.jpg" class="img-fluid rounded">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Jaemin Ryu</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of Cyber Security, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">ryujm1828@ajou.ac.kr</h6>
                                    <ul class="items">
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3 p-3">
                <div>
                    <ul class="card-text font-weight-light list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                    <figure>
                                        <picture>
                                          <img src="/assets/img/members/resized/dongjun.jpg" class="img-fluid rounded z-depth-1">
                                        </picture>
                                    </figure>
                                </div>
                                <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                    <h6 class="title font-weight-bold ml-1 ml-md-4">
                                        <a href="https://example.com" rel="external nofollow noopener" target="_blank">Dongjun Kim</a></h6>
                                        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of Cyber Security, Ajou University</h6>
                                        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">smlijun@ajou.ac.kr</h6>
                                        <ul class="items">
                                        </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/members/resized/jongsung.jpg" class="img-fluid rounded">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Jongseong Kim</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of Cyber Security, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">bjloed@ajou.ac.kr</h6>
                                    <ul class="items">
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/members/resized/Gyumin.JPG" class="img-fluid rounded">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Gyumin Baek</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of Cyber Security, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">guminb@ajou.ac.kr</h6>
                                    <ul class="items">
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3 p-3">
            <div>
                <ul class="card-text font-weight-light list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center justify-content-center align-items-center" style="width: 75px;">
                                <figure>
                                    <picture>
                                    <img src="/assets/img/members/resized/Seongheun.jpg" class="img-fluid rounded">
                                    </picture>
                                </figure>
                            </div>
                            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                                <h6 class="title font-weight-bold ml-1 ml-md-4">
                                    <a href="https://example.com" rel="external nofollow noopener" target="_blank">Seongheun Hong</a></h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">Department of Cyber Security, Ajou University</h6>
                                    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">ghd869@ajou.ac.kr</h6>
                                    <ul class="items">
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </article>
</div>

{% endunless %}
